{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode gzip
  reverse_proxy api:8000 {
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
  }
  @health path "/"
  handle @health {
    # Let health endpoint be cached minimally
    header Cache-Control "no-store"
  }
  log {
    output stdout
    format console
  }
}

