DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=False
ALLOWED_HOSTS=api.example.com
CORS_ALLOW_ALL=True
## If you prefer allowlist instead of wildcard CORS, set the above to False and set:
# CORS_ALLOWED_ORIGINS=https://app.example.com,https://studio.apollographql.com
CSRF_TRUSTED_ORIGINS=https://api.example.com

# Postgres
POSTGRES_DB=outvier
POSTGRES_USER=outvier
POSTGRES_PASSWORD=outvierpw
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Alternatively use a single DATABASE_URL
# DATABASE_URL=postgres://outvier:outvierpw@db:5432/outvier
